.yet-register-container-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.yet-register-container-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.yet-register-img {
  width: 250px;
}
* {
  margin: 0px;
  padding: 0px;
}
.btn {
  color: #fff;
  background-color: #0967d2;
  padding: 10px;
}
.register {
  width: 80px;
}
.already-user-image {
  width: 160px;
}
.yet-register-container-2 h1 {
  font-size: 20px;
}
